* {
    box-sizing: border-box;
}

.header {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #0050B3;
}
.header-block {
    max-width: 1196px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input {
    max-width: 336px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;

    padding: 5px 30px 5px 12px;

    background-color: #fff;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;

    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
}
.user {
    display: flex;
    align-items: center;
}
.user-avatar {
    margin-right: 8px;
}
.user-name {
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
}