* {
    box-sizing: border-box;
}

.header {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #0050B3;
}
.header-block {
    max-width: 1196px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input {
    width: 336px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;

    padding: 5px 30px 5px 12px;

    background-color: #fff;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;

    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
}
.navigation {
    display: flex;
    align-items: center;
}
.user {
    display: flex;
    align-items: center;
}
.user:after {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;

    margin-left: 12px;
}
.user-avatar {
    margin-right: 8px;
}
.user-name {
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
}
.navigation-panel {
    display: flex;
    align-items: center;
}
.navigation-link {
    display: flex;
    align-items: center;
    margin-left: 12px;

    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
}
.navigation-link:after {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;

    margin-left: 12px;
}

.icons-panel {
    display: flex;
    align-items: center;
}
.icon-link {
    display: flex;
    align-items: center;
    margin-left: 12px;

    text-decoration: none;
}
.icon-link.pipe:before {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;

    margin-right: 12px;
}
.icon-link.menu:after {
    content: '';
    width: 16px;
    height: 16px;
    margin-left: 4px;

    mask-image: url(../img/dropdown.svg);
    background-color: #003A8C;
}
.icon-link.menu:hover:after {
    background-color: white;
}

.svg-icon {
    fill: #002766;
}
.svg-icon:hover {
    fill: white;
}
